.board-container {
  min-height: 50vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f5f7;

  .lists-container {
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    overflow-x: auto;

    @media (max-width: 768px) {
      gap: 10px;
    }
  }
}
