.list {
  padding: 10px;
  width: 250px;
  border-radius: 3px;
  background-color: #ebecf0;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);

  @media (max-width: 768px) {
    width: 200px;
    padding: 5px;
  }

  &__sort-buttons {
    margin: 0.5rem;
    display: flex;
    justify-content: end;
  
    button {
      width: 100%;
      margin: 15px;
      padding: 0.5rem 1rem;
      font-size: 14px;
      cursor: pointer;
      background-color: #ffffff;
      border: 1px solid #ced4da;
      border-radius: 5px;
      color: #495057;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: #f8f9fa;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
      }
    }
  }
}
